<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panaderia</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div id="contenedor">
        <section id="options">

            <a href="/crearCliente" class="option">Crear Cliente</a>
    
            <a href="/app/clients" class="option">Clientes</a>

            <a href="/app/client" class="option">Cliente</a>

            <a href="/app/clientUpdate" class="option">Actualizar</a>

            <a href="/app/deletedClient" class="option">Eliminar</a>

        </section>
    </div>
</body>
</html>